
.navbar {
    position: absolute;
    background-color: #5d9667;
    height: 87px;
    width: 100%;
    flex-grow: 1;
    margin: 0;
    display: table;
    position: fixed;
    animation-name: cycle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes cycle {
    from {background-color: #5d9667;}
    50% {background-color: #7f7;}
    to {background-color: #5d9667;}
}

.navbar a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
}

.login-link{
    margin-top: 60px;
    margin-right: 10px;
    padding-left: 10px;
    position: relative;
}

.navbar a:hover{
    opacity: 80%;
}

.nav-item-spacing{
    padding-right: 15px;
}

.line {
    border-left: 2px solid white;
    height: 60px;
    width: 5px;
    top: -55px;
    position: relative;
    margin-left: -20px;
}

.backgroundpic{
    width: 70%;
}

.citation-div{
    position: absolute;
    left: 40px;
    top: 250px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #ffffff;
    width: 550px;
    height: 411px;
}

.citation {
    border-radius: 5px;
    width: 625px;
    height: 375px;
    background-color: rgba(37, 40, 42, 0.7);
    padding: 35px;
}

.login-div{
    padding: 10% 5%;
}

.login-form{
    border-width: 6px;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

.login-button{
    background-color: #5d9667;
    color: white;
    border-radius: 5px;
    border-width:1px;
    height: 50px;
    width:100%
}
.login-form-input{
    padding: 15px;
    width:100%;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;

    text-align: start;
}

.login-form-input:focus{
    outline: none !important;
    border: 2px solid #5d9667;
}

.float-left{
    float: left
}
.float-right{
    float: right
}
.width40{
    width: 40%;
}
.width100{
    width: 100%;
}

.height50{
     height:50px;
 }

.ORtext{
    background-color:white;
    margin: 10px 10px 10px 10px;
}

.secondhand{
    color: #7dc78a;
    opacity: 100%;
}

.footer {
    max-height: 10%;
    min-height: 55px;
}

.footerText{
    color: white;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 5px;
}

.bakgrund{
    display: flex;
    width: 100%;
}

.eller{
    text-align: center;
    padding: 10px;
}