
.navbar {
    position: absolute;
    background-color: #5d9667;
    height: 87px;
    width: 100%;
    flex-grow: 1;
    margin: 0;
    display: table;
    position: fixed;
}

.navbar a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 50px;
}

.login-link{
    margin-top: 60px;
    margin-right: 10px;
    padding-left: 10px;
    position: relative;
}

.navbar a:hover{
    opacity: 80%;
}

.nav-item-spacing{
    padding-right: 15px;
}

.line {
    border-left: 2px solid white;
    height: 60px;
    width: 5px;
    top: -55px;
    position: relative;
    margin-left: -20px;
}

.backgroundpic{
    width: 70%;
}

.citation-div{
    position: absolute;
    left: 40px;
    top: 250px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

    color: #ffffff;
    width: 550px;
    height: 411px;
}

.citation {
    border-radius: 5px;
    width: 625px;
    height: 375px;
    background-color: rgba(37, 40, 42, 0.7);
    padding: 35px;
}

.login-div{
    padding: 10% 5%;
}

.login-form{
    border-width: 6px;
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
}

.login-button{
    background-color: #5d9667;
    color: white;
    border-radius: 5px;
    border-width:1px;
    height: 50px;
    width:100%
}
.login-form-input{
    padding: 15px;
    width:100%;
    height: 50px;
    border-radius: 5px;
    border-width: 1px;

    text-align: start;
}

.login-form-input:focus{
    outline: none !important;
    border: 2px solid #5d9667;
}

.float-left{
    float: left
}
.float-right{
    float: right
}
.width40{
    width: 40%;
}
.width100{
    width: 100%;
}

.height50{
     height:50px;
 }

.ORtext{
    background-color:white;
    margin: 10px 10px 10px 10px;
}

.secondhand{
    color: #7dc78a;
    opacity: 100%;
}

.footer {
    max-height: 10%;
    min-height: 55px;
}

.footerText{
    color: white;
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 5px;
}

.bakgrund{
    display: flex;
    width: 100%;
}

.eller{
    text-align: center;
    padding: 10px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.password {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}